 <!-- Использованы классы бустрапа для создания типовой навигации с логотипом -->
      <!-- В дальнейшем тут будет создано полноценное меню -->
<header>
      {% load static %} 
      <nav class="navbar navbar-light" style="background-color: #151515">
        <div class="container">
            <a class="nav-link" href="{% url 'posts:index' %}"><img src="{% static 'img/logo1.png' %}" width="50" height="50" class="d-inline-block align-top" alt="">
            <!-- тег span используется для добавления нужных стилей отдельным участкам текста -->
            <font size="+3" face="lithos_pro"><span style="color:#FF0000">Ya</span><span style="color:white">tube</span></font>
          </a>
          {% with request.resolver_match.view_name as view_name %}
      <ul class="nav nav-pills"> 
        <li class="nav-item"> 
          <a class="nav-link{% if view_name == 'about:author' %}
       active{% endif %}" href="{% url 'about:author' %}"><span style="color:#ffffff">Об авторе</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if view_name == 'about:tech' %}
       active{% endif %}" href="{% url 'about:tech' %}"><span style="color:#ffffff">Технологии</span></a>
        </li>
        {% if user.username %}
        <li class="nav-item"> 
          <a class="nav-link{% if view_name == 'posts:post_create' %}
       active{% endif %}" href="{% url 'posts:post_create' %}"><span style="color:#ffffff">Новая запись</span></a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link link-light{% if view_name == 'users:password_reset_form' %}
       active{% endif %}" href="{% url 'users:password_reset_form' %}">Изменить пароль</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link link-light{% if view_name == 'users:logout' %}
       active{% endif %}" href="{% url 'users:logout' %}">Выйти</a>
        </li>
        <li>
         <div style="color:#ffffff"> Пользователь: <a href='{% url "posts:profile" user.username %}'><b><span style="color:#ffffff">{{ user.username }}</span></b></a></div>
        <li>
        {% else %}
        <li class="nav-item"> 
          <a class="nav-link link-light{% if view_name == 'users:login' %}
       active{% endif %}" href="{% url 'users:login' %}">Войти</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link link-light{% if view_name == 'users:signup' %}
       active{% endif %}" href="{% url 'users:signup' %}">Регистрация</a>
        </li>
        {% endif %}
      </ul>
      {% endwith %}
    </div>
  </nav>      
</header> 